{{!-- <h1>{{title}}</h1>
<p>{{ID}} Welcome to {{title}}</p>
<p>This is the {{title}} Tutorials</p> --}}



<!DOCTYPE html>
<html>
 <head>
 <title>Intro to Node and MongoDB</title>
 </head>
 
 <body>
 <h1>Get data from Node and MongoDB</h1>
 <form method="get" action="/students/seebyname">
 <input type="text" name="stuFirstName" placeholder="Enter name to get data...."><br>
 <input type="submit" value="See Data">
 
 {{!-- <h1>Insert to Node and MongoDB</h1>
 <form method="post" action="/students/add">
 <label>Enter Your Details</label><br>
 <input type="text" name="stuFirstName" placeholder="Enter first name..."><br>
 <input type="text" name="stuLastName" placeholder="Enter last name..."><br>
 <input type="number" name="stuAge" placeholder="Enter age..."><br>
 <input type="number" name="stuID" placeholder="Enter ID..."><br>
 <input type="text" name="stuDOB" placeholder="Enter DOB..."><br>
 <input type="submit" value="Add Data"> --}}

  {{!-- <h1>delete to Node and MongoDB</h1>
 <form method="delete" action="/students/delete">
 <label>Enter Your Details</label><br>
 <input type="number" name="id" placeholder="Enter ID..."><br>
 <input type="submit" value="Delete Data">
 </form>

 </form> --}}
 </body>
</html>